# Secrets
cosign.key

# Build artifacts
_build*
_rechunk_output/
output/
output.env
previous.manifest.json
changelog.md

# Titanoboa ISO builder
_titanoboa/
podman_scp.*

# VM testing
_vm_build/

# ISO files
*.iso
result-iso/
dot_files/nvim/lazy-lock.json
