[Unit]
Description=Preinstall Flatpaks
After=network-online.target
Wants=network-online.target
ConditionPathExists=/usr/bin/flatpak
ConditionPathExists=/usr/libexec/flatpak-preinstall

[Service]
Type=oneshot
ExecStart=/usr/libexec/flatpak-preinstall
RemainAfterExit=true
Restart=on-failure
RestartSec=30

StartLimitIntervalSec=600
StartLimitBurst=3

[Install]
WantedBy=default.target
