[Unit]
Description=Preinstall Flatpaks
ConditionPathExists=/usr/bin/flatpak
ConditionPathExists=/usr/libexec/flatpak-preinstall
StartLimitIntervalSec=600
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/usr/libexec/flatpak-preinstall
RemainAfterExit=true

[Install]
WantedBy=default.target
