[terminal]
vt = 1

[default_session]
command = "cage -s -- ghostty-kiosk hypercube-greeter"
user = "greeter"

[initial_session]
command = "cage -s -- ghostty-kiosk 'hypercube-onboard --config /usr/share/hypercube/config/hypercube-onboard/onboard.toml'"
user = "root"
