[terminal]
vt = 1

[default_session]
command = "hypercube-greeter"
user = "greeter"

[initial_session]
command = "hypercube-onboard --config /usr/share/hypercube/config/hypercube-onboard/onboard.toml"
user = "root"
