[Desktop Entry]
Name=Bluetooth Settings
Comment=Manage Bluetooth devices
Exec=ghostty-kiosk bluetui
Icon=bluetooth
Terminal=false
Type=Application
Categories=Settings;
Keywords=bluetooth;wireless;connect;pair;
